# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2.1

orbs:
  ruby-orbs: sue445/ruby-orbs@1.6.0
  code-climate: rvla/code-climate@0.0.2

references:
  - &ruby_version
    ruby_version:
      type: enum
      enum: ['2.4', '2.5', '2.6', '2.7']
      default: '2.7'
  - &rails_version
    rails_version:
      type: enum
      enum: ['4.2', '5.0', '5.1', '5.2', '6.0']
      default: '6.0'
  - &bundler_options
    bundler_options:
      type: string
      default: ''

executors:
  default:
    parameters:
      <<: *ruby_version
    docker:
       - image: circleci/ruby:<< parameters.ruby_version >>-node-browsers
    working_directory: ~/repo

commands:
  modify_active_support_version:
    description: Modify ActiveSupport Version
    parameters:
      <<: *rails_version
    steps:
      - run: |
          cp gemfiles/rails_<< parameters.rails_version >>.gemfile Gemfile
          bundle update activesupport
  run_rspec:
    description: Run RSpec
    steps:
      - code-climate/install
      - run:
          name: Execute RSpec
          command: |
            mkdir /tmp/test-results
            TEST_FILES="$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)"
            cc-test-reporter before-build
            bundle exec rspec --format documentation \
                              --color \
                              --format RspecJunitFormatter \
                              --out /tmp/test-results/rspec.xml \
                              $TEST_FILES
      - code-climate/format-coverage:
          input-type: simplecov
          prefix: $(readlink -f .)
          coverage-file: coverage/.resultset.json
          output: coverage/codeclimate.$CIRCLE_BUILD_NUM.json
      - persist_to_workspace:
          root: coverage
          paths:
            - codeclimate.*.json
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
  rubocop:
    steps:
      - run:
          name: Run RuboCop
          command: bundle exec rubocop
  yardoc:
    description: 'Generate YARDoc'
    steps:
      - run: bundle exec yardoc -o ./yardoc
      - store_artifacts:
          path: ./yardoc
          destination: yardoc
  rake_build:
    steps:
      - run:
          name: Rake Build
          command: bundle exec rake build
  rubocop_challenge:
    steps:
      - run:
          name: Rubocop Challenge
          command: |
            gem install rubocop_challenger --pre
            rubocop_challenger go --email=ryz310@gmail.com --name=ryz310
  release:
    description: Release to RubyGems.org
    steps:
      - run:
          name: Create Rubygems Credentials
          command: |
            mkdir ~/.gem || true
            echo -e "---\n:rubygems_api_key: ${RUBYGEMS_API_KEY}" > ~/.gem/credentials
            chmod 0600 ~/.gem/credentials
      - run:
          name: Release Gem
          command: |
            git push --set-upstream origin ${CIRCLE_BRANCH}
            bundle exec rake release --trace
  setup:
    description: Setup for Job Working
    parameters:
      <<: *ruby_version
      <<: *bundler_options
    steps:
      - checkout
      - run:
          name: Install Bundler 2.x
          command: gem install bundler:2.1.2
      - ruby-orbs/bundle-install:
          cache_key_prefix: v1-dependencies-<< parameters.ruby_version >>
          bundle_extra_args: << parameters.bundler_options >>
  test_and_build:
    description: Build the RubyGem
    parameters:
      <<: *rails_version
    steps:
      - modify_active_support_version:
          rails_version: << parameters.rails_version >>
      - run_rspec
      - rake_build

jobs:
  build:
    parameters:
      <<: *ruby_version
      <<: *rails_version
      <<: *bundler_options
    executor:
      name: default
      ruby_version: << parameters.ruby_version >>
    steps:
      - setup:
          ruby_version: << parameters.ruby_version >>
          bundler_options: << parameters.bundler_options >>
      - test_and_build:
          rails_version: << parameters.rails_version >>
  upload-coverage:
    executor: default
    steps:
      - attach_workspace:
          at: ~/repo
      - code-climate/install
      - code-climate/sum-coverage:
          input: codeclimate.*.json
          parts: 19
      - code-climate/upload-coverage
  rubocop:
    executor: default
    steps:
      - setup
      - rubocop
  yardoc:
    executor: default
    steps:
      - setup
      - yardoc
  rubocop_challenge:
    executor: default
    steps:
      - checkout
      - rubocop_challenge
  release:
    executor: default
    steps:
      - setup
      - release

workflows:
  version: 2

  commit:
    jobs:
      - build:
          name: build_on_ruby_2.4_and_rails_4.2
          ruby_version:  '2.4'
          rails_version: '4.2'
      - build:
          name: build_on_ruby_2.4_and_rails_5.0
          ruby_version:  '2.4'
          rails_version: '5.0'
      - build:
          name: build_on_ruby_2.4_and_rails_5.1
          ruby_version:  '2.4'
          rails_version: '5.1'
      - build:
          name: build_on_ruby_2.4_and_rails_5.2
          ruby_version:  '2.4'
          rails_version: '5.2'
      - build:
          name: build_on_ruby_2.5_and_rails_4.2
          ruby_version:  '2.5'
          rails_version: '4.2'
      - build:
          name: build_on_ruby_2.5_and_rails_5.0
          ruby_version:  '2.5'
          rails_version: '5.0'
      - build:
          name: build_on_ruby_2.5_and_rails_5.1
          ruby_version:  '2.5'
          rails_version: '5.1'
      - build:
          name: build_on_ruby_2.5_and_rails_5.2
          ruby_version:  '2.5'
          rails_version: '5.2'
      - build:
          name: build_on_ruby_2.5_and_rails_6.0
          ruby_version:  '2.5'
          rails_version: '6.0'
      - build:
          name: build_on_ruby_2.6_and_rails_4.2
          ruby_version:  '2.6'
          rails_version: '4.2'
      - build:
          name: build_on_ruby_2.6_and_rails_5.0
          ruby_version:  '2.6'
          rails_version: '5.0'
      - build:
          name: build_on_ruby_2.6_and_rails_5.1
          ruby_version:  '2.6'
          rails_version: '5.1'
      - build:
          name: build_on_ruby_2.6_and_rails_5.2
          ruby_version:  '2.6'
          rails_version: '5.2'
      - build:
          name: build_on_ruby_2.6_and_rails_6.0
          ruby_version:  '2.6'
          rails_version: '6.0'
      - build:
          name: build_on_ruby_2.7_and_rails_5.0
          ruby_version:  '2.7'
          rails_version: '5.0'
      - build:
          name: build_on_ruby_2.7_and_rails_5.1
          ruby_version:  '2.7'
          rails_version: '5.1'
      - build:
          name: build_on_ruby_2.7_and_rails_5.2
          ruby_version:  '2.7'
          rails_version: '5.2'
      - build:
          name: build_on_ruby_2.7_and_rails_6.0_with_integrations
          ruby_version:  '2.7'
          rails_version: '6.0'
          bundler_options: '--with integrations'
      - build:
          name: build_on_ruby_2.7_and_rails_6.0_without_integrations
          ruby_version:  '2.7'
          rails_version: '6.0'
          bundler_options: '--without integrations'
      - rubocop
      - yardoc
      - upload-coverage:
          requires:
            - build_on_ruby_2.4_and_rails_4.2
            - build_on_ruby_2.4_and_rails_5.0
            - build_on_ruby_2.4_and_rails_5.1
            - build_on_ruby_2.4_and_rails_5.2
            - build_on_ruby_2.5_and_rails_4.2
            - build_on_ruby_2.5_and_rails_5.0
            - build_on_ruby_2.5_and_rails_5.1
            - build_on_ruby_2.5_and_rails_5.2
            - build_on_ruby_2.5_and_rails_6.0
            - build_on_ruby_2.6_and_rails_4.2
            - build_on_ruby_2.6_and_rails_5.0
            - build_on_ruby_2.6_and_rails_5.1
            - build_on_ruby_2.6_and_rails_5.2
            - build_on_ruby_2.6_and_rails_6.0
            - build_on_ruby_2.7_and_rails_5.0
            - build_on_ruby_2.7_and_rails_5.1
            - build_on_ruby_2.7_and_rails_5.2
            - build_on_ruby_2.7_and_rails_6.0_with_integrations
            - build_on_ruby_2.7_and_rails_6.0_without_integrations
      - release:
          context: RubyGems API Key
          requires:
            - build_on_ruby_2.4_and_rails_4.2
            - build_on_ruby_2.4_and_rails_5.0
            - build_on_ruby_2.4_and_rails_5.1
            - build_on_ruby_2.4_and_rails_5.2
            - build_on_ruby_2.5_and_rails_4.2
            - build_on_ruby_2.5_and_rails_5.0
            - build_on_ruby_2.5_and_rails_5.1
            - build_on_ruby_2.5_and_rails_5.2
            - build_on_ruby_2.5_and_rails_6.0
            - build_on_ruby_2.6_and_rails_4.2
            - build_on_ruby_2.6_and_rails_5.0
            - build_on_ruby_2.6_and_rails_5.1
            - build_on_ruby_2.6_and_rails_5.2
            - build_on_ruby_2.6_and_rails_6.0
            - build_on_ruby_2.7_and_rails_5.0
            - build_on_ruby_2.7_and_rails_5.1
            - build_on_ruby_2.7_and_rails_5.2
            - build_on_ruby_2.7_and_rails_6.0_with_integrations
            - build_on_ruby_2.7_and_rails_6.0_without_integrations
            - rubocop
          filters:
            branches:
              only:
                - release

  challenge:
    triggers:
      - schedule:
          cron: "30 23 * * *" # 8:30am every day (JST)
          filters:
            branches:
              only:
                - master
    jobs:
      - rubocop_challenge

experimental:
  notify:
    branches:
      only:
        - master
        - release
